# Global
.DS_Store
.env
*.log

# Python (FastAPI)
__pycache__/
*.pyc
backend/venv/

# Angular
frontend/node_modules/
frontend/dist/
frontend/.angular/cache/
frontend/.env

# Docker
*.pid
*.lock
docker-compose.override.yml
